/* app css stylesheet */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);

body {
    background-color:#464646;
    margin: 0px;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

#controllerHeader {
    font-family: "Open Sans", arial, helvetica, sans-serif;
    font-weight: 800;
}

.column3 {
    display: flex;
    flex-direction: row;
}
.switchHead {
    font-family: bold;
    color: white;
    margin-top: 15px;
}

.switcherRow {
    display: flex;
    flex-direction: row;
}
.switchBtn {
    display: inline-flex;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: white;
    border: black 2px solid;
    margin: 6px;
    font-weight: bold;
}

.switchON {
    background-color:#ff4242;
}

#switchContainer {
    display: flex;
    flex-direction: row;
}

.vertical {
    -webkit-appearance: slider-vertical;
}

input[type=range], ::-moz-range-track, ::-ms-track {
    -webkit-appearance: none;
    background-color: 3f91e5;
    width: 250px;
    height:20px;
}

::-webkit-slider-thumb, ::-moz-range-thumb, ::-ms-thumb {
    -webkit-appearance: none;
    background-color: #666;
    width: 10px;
    height: 20px;
}

